$color_1: #fff;
$font-family_1: inherit;
$background-color_1: black;
$background-color_2: #1cbc11;

.contact {
	margin: 20px 0 0 0;
}

.fon {
	background: url('../images/img_one.jpg');
	background-size: cover;
	height: 600px;
}

.main {
	width: 100%;
	padding: 10px 500px;
	margin: 50px 0;
	
    .mainP{
        font-size: 30px;
    }
}

.input {
		display: block;
		width: 100%;
		padding: 8px 10px;
		margin-bottom: 10px;
		background-color: $background-color_1;
		border: 1px solid #ccc;
		color: $color_1;
		font-family: $font-family_1;
		font-size: 16px;
	
}

.contactinput {
	display: flex;
	column-gap: 20px;
}

.btn {
	display: block;
	width: 100%;
	padding: 8px 10px;
	border: 0;
	background-color: $background-color_2;
	cursor: pointer;
	font-family: $font-family_1;
	font-size: 16px;
	color: $color_1;
	
    &:hover { 
        background-color: #14a20a;
    }
}

$color_1: #eeeeee;
$color_2: white;
$color_3: rgb(160, 160, 160);
$font-family_1: 'minecraft';
$background-color_1: rgb(23, 23, 23);
$background-color_2: rgba(0, 0, 0, 0.4);
$background-color_3: rgb(129, 129, 129);

@font-face {
	font-family: 'minecraft';
/*   font-family: 'minecraft'; */
	src: local('minecraft'), url(../minecraft.ttf);
}
@font-face {
	font-family: 'Cinematografica';
/* font-family: 'Cinematografica'; */
	src: local('Cinematografica'), url(../font/Cinematografica-Bold.otf);
}
/*
nav ul li ul{
    position: absolute;
    top: 55px;
    left: 250px;
    width: 100px;
    display: none;
}

nav ul li ul li{
    width: 100%;

}

nav ul li:hover > ul{
    display: initial;
}
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 0.5s ease;
}
body {
	background-color: $background-color_1;
	font-family: $font-family_1;
}
nav {
	display: flex;
	ul {
		li {
			display: inline;
			margin: 1em;
			a {
				&:hover {
					padding-bottom: 5px;
					border-bottom: 1px rgb(255, 255, 255) solid;
					font-weight: bold;
				}
			}
		}
	}
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	margin: 0 200px;
	padding: 20px 50px;
	font-size: 18px;
	i {
		font-size: 35px;
		margin: 0 10px;
		&:hover {
			transform: scale(1.2);
		}
	}
}
a {
	text-decoration: none;
	color: $color_1;
}
p {
	color: $color_2;
}
.footer {
	display: flex;
	justify-content: center;
	text-align: center;
	div {
		padding: 20px 0;
	}
	i {
		font-size: 30px;
		margin: 0 5px;
		&:hover {
			transform: scale(1.2);
		}
	}
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: $background-color_2;
}
.modal-content {
	background-color: $background-color_1;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
}
.close {
	color: $color_1;
	float: right;
	font-size: 28px;
	font-weight: bold;
	&:hover {
		color: $color_3;
		text-decoration: none;
	}
	&:focus {
		color: $color_3;
		text-decoration: none;
	}
}
.LoginAndRegist {
	margin: 15% auto;
	width: 50%;
	ul {
		li {
			list-style-type: none;
			text-align: center;
			border: 1px solid #888;
			padding: 20px 0;
			margin: 10px 0;
			background-color: $background-color_1;
			&:hover {
				background-color: $background-color_3;
			}
		}
	}
}
